.ab-container {
   border: 1px solid #fbf59f;
   background-color: #fbf59f;
   overflow-x: hidden;
   padding: 2px;
}
.ab-title > div {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow-x: hidden;
}
.ab-title-fold {
   margin: 1px;
   padding: 1px;
}
.ab-title-fold > img {
   width: 10px;
   height: 10px;
}
.ab-title-fold.active {
   transform: rotate(180deg);
}
.ab-title-close {
   margin: 1px;
   padding: 1px;
}
