body {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}
.nav-icon-bar {
   border-right: 1px solid #ccc;
}
.nav-icon-btn {
   width: 24px;
   height: 24px;
   cursor: pointer;
   padding: 5px 8px 5px 8px;
   margin-top: 5px;
   border-right: 3px solid white;
}
.nav-icon-btn:hover {
   border-right: 3px solid #ccc;
   background: #eee;
}
.nav-icon-btn.active {
   border-right: 3px solid black;
}
.side-view {
   width: 300px;
   height: 100%;
   min-width: 300px;
   margin: 3px;
   overflow-x: hidden;
   overflow-y: auto;
}
.folder-fold-btn {
   background: url('../img/angle.svg');
   width: 12px;
   height: 12px;
   text-decoration: none;
   display: inline-block;
   margin: 1px;
   padding: 1px;
   cursor: pointer
}
.folder-fold-btn.active {
   transform: rotate(180deg);
}
.item-container.folder {
   border-left: 2px solid black;
}
a.search-btn {
   margin-left: 2px;
}
a.search-btn > img {
   width: 12px;
   height: 12px;
}
.content-container {
   padding-right: 2px;
   overflow: hidden;
}
.nav-link > img {
   width: 12px;
   height: 12px;
   padding: 0px;
}
.clickable {
   cursor: pointer;
}
.clickable:hover {
   background: #eee;
}

#pnl-side-browse {
   white-space: nowrap;
}
#pnl-contents {
   width: 100%;
   height: 100%;
   overflow: auto;
}
#pnl-title {
   padding-left: 5px;
}

.search-item a {
   text-decoration: none;
}

.spin-sm::before {
   width: 8px;
   height: 8px;
}

